<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="图书管理系统web自动化测试套件" verbose="1">

    <!--登陆模块测试>-->
    <test name="登陆模块测试">
        <classes>
            <class name="com.campus.mywebtest.tests.LoginTest"/>
        </classes>
    </test>

    <!--搜索模块测试>-->
    <test name="搜索模块测试">
        <classes>
            <class name="com.campus.mywebtest.tests.BookSearchTest"/>
        </classes>
    </test>

</suite>